In [2]:
import pandas as pd
import numpy as np

In [10]:
household = pd.read_csv("2018_padro_ocupacio_mitjana.csv")
household.head(5)

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Població,Domicilis,Ocupació mitjana (persones per domicili)
0,2018,1,Ciutat Vella,1,el Raval,47605,17212,2.77
1,2018,1,Ciutat Vella,2,el Barri Gòtic,17035,6565,2.59
2,2018,1,Ciutat Vella,3,la Barceloneta,14893,6917,2.15
3,2018,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",22605,10238,2.21
4,2018,2,Eixample,5,el Fort Pienc,32080,12831,2.50

In [20]:
household.dtypes

Any                                          object
Codi_Districte                               object
Nom_Districte                                object
Codi_Barri                                   object
Nom_Barri                                    object
Població                                      int64
Domicilis                                     int64
Ocupació mitjana (persones per domicili)    float64
dtype: object

In [19]:
household["Codi_Districte"].astype(object, copy=False)
household["Codi_Barri"].astype(object)
household["Any"].astype(object)

household["Codi_Districte"] = household["Codi_Districte"].astype('object')
household["Codi_Barri"] = household["Codi_Barri"].astype('object')
household["Any"] = household["Any"].astype('object')

In [21]:
household.describe()

           Població     Domicilis  Ocupació mitjana (persones per domicili)
count     73.000000     73.000000                                 73.000000
mean   22314.191781   9052.273973                                  2.512192
std    14639.428360   6150.289375                                  0.182485
min      657.000000    272.000000                                  2.150000
25%    10622.000000   4234.000000                                  2.410000
50%    20766.000000   8206.000000                                  2.460000
75%    30751.000000  12295.000000                                  2.550000
max    58238.000000  24719.000000                                  3.000000

In [27]:
household.groupby('Nom_Districte').mean().sort_values('Ocupació mitjana (persones per domicili)', ascending = [False])

,Població,Domicilis,Ocupació mitjana (persones per domicili)
Nom_Districte,,,
Sarrià-Sant Gervasi,24972.833333,9427.833333,2.740000
Nou Barris,12948.230769,5132.615385,2.586923
Sant Andreu,21222.857143,8501.142857,2.577143
Les Corts,27394.000000,11020.000000,2.576667
Sant Martí,23711.200000,9471.500000,2.530000
Sants-Montjuïc,22773.000000,9250.000000,2.461250
Horta-Guinardó,15477.181818,6346.000000,2.438182
Ciutat Vella,25534.500000,10233.000000,2.430000
Eixample,44459.000000,18785.333333,2.375000
Gràcia,24318.600000,10558.400000,2.354000

In [29]:
household.groupby('Nom_Barri').mean().sort_values('Ocupació mitjana (persones per domicili)', ascending = [False]).head(5)

,Població,Domicilis,Ocupació mitjana (persones per domicili)
Nom_Barri,,,
Torre Baró,2893,964,3.00
les Tres Torres,16678,5601,2.98
"Vallvidrera, el Tibidabo i les Planes",4710,1605,2.93
Ciutat Meridiana,10622,3669,2.90
la Trinitat Vella,10071,3505,2.87

In [30]:
household.groupby('Nom_Barri').mean().sort_values('Ocupació mitjana (persones per domicili)', ascending = [False]).tail(5)

,Població,Domicilis,Ocupació mitjana (persones per domicili)
Nom_Barri,,,
l'Antiga Esquerra de l'Eixample,42611,18268,2.33
el Camp d'en Grassot i Gràcia Nova,34663,14951,2.32
"Sant Pere, Santa Caterina i la Ribera",22605,10238,2.21
la Vila de Gràcia,50421,22767,2.21
la Barceloneta,14893,6917,2.15